SECRET.py
.DS_Store
App/FantasyGolf/src/main/resources/Teams\ Example.csv
*.pyc
.env
Results.json
Results
App/data/listOfPlayers
App/data/leaderboard
App/data/rankings
App/data/listOfPlayers
App/FantasyGolf/main/resources/Overall.json
App/data/leaderboard.csv